* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/bones-background.jpg");
}

.container{
    flex:1;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchButton{
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    margin-top: 5px;
    padding: 2px;
    border-radius: 3px;
}

input{
    color:black;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}

iframe{
    border-radius: 20px;
}

#musicList{
    min-height: 140px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music{
    cursor: pointer;
    margin: 3px;
    list-style:decimal-leading-zero;
}

.header{
    display: flex;
    height: 100px;
    width: 100vw;
    background-color: black;
}


.sesh-image{
    height: 100%;
    width: 10%;
    padding-left: 10px;
}